.l-wrap
	&.with-bg
		background-color: #CCC
		background: url('../img/icons/section.png') top center repeat

//header
.header
	overflow: hidden
	.l-center
		position: relative
	.header-bg
		position: absolute
		top: 0
		left: -448px
		width: 1920px
		height: 119px
		background: url('../img/header-bg.png') top center no-repeat
		z-index: 1
	.header__in
		position: relative
		padding-left: 217px
		z-index: 1
		+box
		+clr
	.name
		margin: 15px 0 0 10px
	.mobile__nav
		position: relative
		display: none
		margin: 40px 20px 0 0
		width: 25px
		height: 16px
		border-top: 2px solid #fff
		border-bottom: 2px solid #fff
		cursor: pointer
		+box-shadow(0px -2px 0 rgba(0, 93, 32, 0.5), 0px 3px 1px rgba(0, 93, 32, 0.5))
		&:before
			content: ""
			position: absolute
			top: 50%
			margin-top: -1px
			width: 100%
			height: 2px
			background: #FFF
			+box-shadow(0px 2px 0px rgba(#005d20, 0.5))
	+r(1000)
		.balls
			display: none
	+r(650)
		.mobile__nav
			display: block
		.header-bg
			left: -495px

.name
	margin: 10px 35px 0 0
	color: rgba(#FFF, 0.7)
	font-size: 15px
	+rus
	.name__huntersluga
		margin-top: -2px
		padding-right: 3px
		+transform(rotate(-3deg))
	.name__txt
		margin-top: -5px
		padding-left: 10px
		font-size: 10.5px
		color: #FFF
		+transform(rotate(-2.5deg))
		+rus
		span
			text-transform: uppercase
	+r(720)
		display: none

.logo
	position: relative
	float: left
	margin: 17px 0 0 62px
	z-index: 2
	width: 155px
	height: 155px
	img
		width: 100%
		height: 100%
	+r(650)
		margin: 17px 0 0 15px

.balls
	margin: 12px 0 0 14px
	img
		width: 144px
		height: 76px
	+r(650)
		display: none

.huntersluga
	margin: 15px 6px 0 0
	div
		display: inline-block
		vertical-align: top
		+hide-text
	.huntersluga__slogan
		margin-top: 4px
		width: 152px
		height: 41px
		background: url('../img/slogan.png') no-repeat
	.huntersluga__img
		width: 185px
		height: 40px
		background: url('../img/huntersluga.png') no-repeat
	+r(860)
		display: none


//navigation
.navigation
	position: relative
	margin-top: -60px
	padding-bottom: 25px
	z-index: 1
	+box
	+box-shadow(inset 0px -2.4px 0px 0px rgba(0, 0, 0, 0.3))
	.navigation__in
		background: rgba(#fff, 0.5)
		border-top: 3px solid #76a586
		border-bottom: 3px solid #76a586
	.l-center
		padding: 0 10px
		+box
		+clr
	.navigation__address
		margin-top: -24px
		font-size: 11.5px
		color: #005D20
		+rus
	.helmet_ico
		float: left
		margin: 3px 0 3px 12px
		+s(helmet_ico)
	.navigation__inner
		min-height: 43px
		+clr
	.navigation__menu
		margin: 7px 10px 0 0
		+clr
		&.is-visible
			display: block
		li
			float: left
			margin-left: 5px
			&:first-child
				margin-left: 0
	.menu__link
		position: relative
		display: block
		padding: 5px 15px
		color: #4A4A49
		font-family: "Tahoma", Arial, sans-serif
		font-size: 11px
		font-weight: bold
		text-decoration: none
		background: url('../img/icons/link-bg.png') repeat
		border-radius: 2px
		+box-shadow(2.5px 4.3px 6.5px 0.5px rgba(0, 0, 0, 0.3), 0 0 4.1px 0.9px rgba(255, 255, 190, 0.44), inset 1px 1px 0.5px 1px rgba(255, 255, 255, 0.7), inset -1px -1px 0.5px 1px rgba(255, 255, 255, 0.7))
		&:hover
			color: #017C2B
			background: url('../img/icons/link-bg-h.png') repeat
	.navigation__social
		margin-top: 7px
		font-size: 0
		a
			display: inline-block
			margin-left: 3px
			&:first-child
				margin-left: 0
		.vk_ico
			+s(vk_ico)
		.ok_ico
			+s(ok_ico)
		.fb_ico
			+s(fb_ico)
	+r(1000)
		.navigation__inner
			padding: 10px 0 20px
		.navigation__menu
			width: 100%
			margin: 10px 0 0
			text-align: right
			font-size: 0
			li
				float: none
				display: inline-block
		.navigation__address
			margin: 23px 0 0 10px
	+r(860)
		.menu__link
			padding: 5px 11px
	+r(650)
		.helmet_ico
			display: none
		.navigation__inner
			padding: 0
		.navigation__menu
			display: none
			position: absolute
			top: -40px
			right: 20px
			margin: 0
			li
				display: block
				margin-bottom: 5px
		.navigation__social
			float: none
			text-align: right
		.navigation__address
			float: none
			padding-left: 140px
			margin-top: 15px
			text-align: right
		.menu__link
			display: inline-block
			min-width: 100px


//main slider
.main__slider
	margin-top: 15px
	padding: 0 25px 35px
	+box
	.js-slick
		max-width: 995px
		margin: 0 auto
		border: 6px solid #005D20
		+box
	.slick-slide
		max-height: 350px
		background-repeat: no-repeat
		+cover
	.slick-dots
		bottom: -31px
		li
			&.slick-active
				button
					+opacity(1)
					+s(dot-bg-h)
		button
			+s(dot-bg)
			+box-shadow(none)

//about
.about
	border-top: 1px solid #8E8E8E
	.about__head
		position: relative
		min-height: 100px
		background: url('../img/icons/about-bg.png') top center no-repeat
		z-index: 1
		+box-shadow(inset 0 7px 0px 0px rgba(255,255,255,0.2))
		+clr
		.name
			margin: 10px 35px 0 0
			color: rgba(#FFF, 0.7)
			font-size: 15px
			+rus
			.name__huntersluga
				margin-top: -2px
				padding-right: 3px
				+transform(rotate(-3deg))
	.about__body
		position: relative
		max-width: 950px
		margin: -10px auto 0
		padding: 0 15px
		background: #DFFDDB
		z-index: 0
		+box
		+clr
	.about__img
		position: relative
		margin: 20px 15px 20px 0
		max-width: 422px
		&:before,
		&:after
			content: ""
			position: absolute
			top: 80%
			bottom: 15px
			width: 50%
			background: #5a6658
			z-index: -1
			+box-shadow(0 22px 25px rgba(#000, 0.7))
		&:before
			left: 5px
			+transform(rotate(-5deg))
		&:after
			right: 5px
			+transform(rotate(5deg))
		img
			width: 100%
	.about__txt
		padding: 28px 0 10px
		color: #072603
		font-family: "Verdana", Arial, sans-serif
		font-size: 12px
		text-align: justify
		line-height: 1.2
		+box
		p
			text-indent: 3.5em
			margin-bottom: 15px
		.is-big
			font-size: 14px
	.about__bottom
		position: relative
		max-width: 950px
		margin: 12px auto 0
		padding: 15px 22px 20px
		background: #021909
		line-height: 1.2
		+box
		+clr
		&:before
			content: ""
			position: absolute
			top: -8px
			left: 0
			width: 100%
			height: 4px
			background: #021909
			border: 1px solid #89938c
			+box
	.info_ico
		display: block
		margin-top: 10px
		+s(info_ico)
	.about__bl
		margin-left: 20px
		color: #FFF
		font-family: "Verdana", Arial, sans-serif
		font-size: 13px
		font-weight: bold
		h3, p
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
	.about__links
		margin-bottom: 10px
		span
			display: inline-block
			margin-right: 10px
	.links__wrap
		display: inline-block
		a
			display: inline-block
			padding: 2px 3px
			font-size: 11px
			text-transform: uppercase
			text-decoration: none
			color: #250CA1
			background: #FFF
			&:first-child
				margin-right: 2px
			&.txt-red
				color: #cc0000
	+r(920)
		.about__bl
			width: 30%
			margin-left: 0
		.about__links
			margin-bottom: 6px
			span
				margin-bottom: 4px
		.info_ico
			margin-right: 20px
	+r(860)
		.about__bl
			width: 29%
			padding: 0 2%
		.info_ico
			display: none
	+r(650)
		.about__bl
			float: none
			width: 100%
			margin-bottom: 20px
			padding: 0
			text-align: center
		.name
			display: none
		.about__img
			float: none
			margin: 0 auto 10px
			padding-top: 25px


.title
	margin: 15px 0 0 45px
	h2
		display: inline-block
		color: #FFF
		font-family: "Verdana", Verdana, Arial, sans-serif
		font-size: 34px
		font-weight: bold
		text-transform: uppercase
		vertical-align: middle
	.title_ico
		position: relative
		display: inline-block
		vertical-align: middle
		margin-right: 20px
		+s(logo_ico)
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 50%
			+box-shadow(1px -1px 20px 0 #33473a, -1px 1px 20px 0 #33473a, 1px -1px 10px 0 #fdfdfd, -1px 1px 10px 0 #fdfdfd)
	+r(650)
		float: none
		margin: 0
		padding-top: 17px
		text-align: center
		h2
			font-size: 30px
		.title_ico
			margin-right: 10px

.sign
	position: absolute
	width: 469px
	height: 91px
	left: 50%
	margin-left: -200px
	background: url('../img/icons/line.png') center center no-repeat
	&:before
		content: ""
		position: absolute
		top: 35px
		left: 40%
		+s(helmet_ico2)
	+r(1000)
		width: 40%
		left: 55%
		-webkit-background-size: contain
		-o-background-size: contain
		background-size: contain
		&:before
			left: 42%
	+r(860)
		display: none

//news section
.news
	background: url(../img/news-bg.jpg) top center no-repeat
	border-top: 1px solid #8E8E8E
	+cover
	.news__head
		position: relative
		min-height: 100px
		background: url('../img/icons/news-bg.png') top center no-repeat
		+box-shadow(inset 0 7px 0px 0px rgba(255,255,255,0.2))
		&:before
			content: ""
			position: absolute
			top: -12px
			left: 12px
			z-index: -1
			+s(news-before)
		&:after
			content: ""
			position: absolute
			top: -11px
			right: 10px
			z-index: -1
			+s(news-after)
	.news__in
		+clr
	.news__body
		max-width: 970px
		margin: 0 auto
		text-align: center
		font-size: 0
	.news__column
		display: inline-block
		width: 33%
		padding: 0 15px
		vertical-align: top
		+box
	.news__bl
		position: relative
		margin-bottom: 10px
		font-family: "Verdana", Arial, sans-serif
		line-height: 1.2
		&:before
			content: ""
			position: absolute
			top: -20px
			left: 50%
			margin-left: -54px
			+s(news-divide)
		&:hover
			.news__txt
				text-decoration: underline
		&.is-last
			margin-bottom: 15px
			.news__link
				text-align: center
				padding: 30px 0 20px
				font-size: 22px
				font-style: italic
				color: #30B55A
				&:hover
					color: darken(#30B55A, 10%)
	.news__title
		height: 71px
		margin-top: -12px
		padding: 20px
		text-align: center
		font-size: 22px
		text-transform: uppercase
		color: #FFF
		background-color: #34C462
		background: url('../img/icons/news_title-bg.png') top center no-repeat
		+box
	.news__link
		display: block
		padding: 30px 35px 35px
		background: #FFF
		text-decoration: none
		color: #033613
		font-size: 21px
		+box
		span
			display: block
			text-align: center
	.news__txt
		margin: 20px 0 30px 10px
		text-align: left
		&.is-upper
			max-height: inherit
			margin: 0 0 10px
			text-align: center
	.news__img
		display: block
		width: 145px
		height: 100px
		margin: 0 auto 15px
		img
			width: 100%
			height: 100%
	.news__date
		font-size: 20px
		font-style: italic
		color: #A9AAAA
	.news__inside
		margin: 14px 0
		text-align: left
		color: #268A2E
		font-size: 12px
		+clr
		span
			text-align: left
			font-weight: bold
		p
			padding-left: 10px
			overflow: hidden
	+r(1000)
		.news__link
			padding: 30px 5% 35px
		.news__title
			height: auto
			margin-bottom: 10px
			background: #2fb259
			+box-shadow(2.5px 4.3px 5px rgba(0, 0, 0, 0.75))
	+r(860)
		.news__body
			max-width: inherit
		.news__column
			width: 50%
			margin-bottom: 20px
	+r(650)
		.news__column
			width: 100%
			max-width: 500px
			padding: 0 5%
			+box


//statistic section
.stat
	border-top: 1px solid #8E8E8E
	.stat__head
		min-height: 100px
		background: url('../img/icons/stat-bg.png') top center no-repeat
		+box-shadow(inset 0 7px 0px 0px rgba(255,255,255,0.2))
	.stat__body
		display: table
		width: 100%
		max-width: 930px
		margin: 15px auto 0
		font-family: "Verdana", Arial, sans-serif
		font-size: 0
	.stat__bl
		display: table-cell
		width: 33%
		padding: 0 15px
		text-align: center
		vertical-align: top
		font-size: 12px
		border-right: 1px solid #D8D8D8
		+box
		&:last-child
			border-right: none
		&.is-small-width
			width: 10%
		h2
			margin-bottom: 15px
			color: #033613
			font-size: 21px
			text-transform: uppercase
		h3
			margin-bottom: 10px
			font-size: 13px
			font-weight: bold
			text-transform: uppercase
			letter-spacing: 0.05em
	.stat__img
		margin-bottom: 15px
	.stat__date
		margin-bottom: 10px
		text-transform: uppercase
		font-weight: bold
	.stat__count
		width: 240px
		margin: 25px auto 0
		+clr
	.stat__name
		width: 70px
		text-align: center
		line-height: 1.5
		img
			max-width: 50px
			max-height: 50px
			margin-bottom: 10px
			padding: 2px
			border: 1px solid #cdcdcd
	.stat__place
		span
			display: block
	.stat__score
		width: 35px
		height: 25px
		margin: 10px 0 0 32px
		background: #F2F2F2
		border: 1px solid #cdcdcd
		border-radius: 2px
		line-height: 25px
	.stat__wrap
		margin: 10px 0 0 10px
		font-size: 0
		.stat__score
			display: inline-block
			margin: 0 0 0 5px
			font-size: 14px
			&:first-child
				margin-left: 0
	.stat__in
		margin-bottom: 20px
	.stat__line
		margin: 10px 0
		padding: 15px
		width: 100%
		border: 1px solid #dedede
		+box
		i
			display: inline-block
			width: 100%
			height: 5px
			background: #FC8C0C
			border-bottom: 1px solid #b5660d
		&.is-result
			position: relative
			margin-top: 15px
			i
				position: relative
				width: 40%
				background: #CC0C0C
				border-bottom-color: #930d0d
				&:before
					content: ""
					position: absolute
					top: 0
					left: 0
					width: 50%
					height: 5px
					background: #6D9917
					border-bottom: 1px solid #50720d
	.stat__shoot,
	.stat__miss
		position: absolute
		top: -7px
		width: 80px
		padding: 10px 0
		background: #F2F2F2
		border-radius: 5px
		z-index: 2
		+box
		+box-shadow(2px 1px 3px 0px #d2d2d2, -2px 1px 3px 0px #d2d2d2)
	.stat__shoot
		left: 0
	.stat__miss
		right: 0
	.stat__player
		padding: 5px
		text-align: left
		font-size: 12px
		color: #268a2e
		border-radius: 5px
		text-transform: uppercase
		+box-shadow(2px 2px 3px 0px #d2d2d2, -2px 0px 3px 0px #d2d2d2)
		+clr
		+box
		img
			width: 72px
			height: 72px
			margin-right: 10px
	.stat__txt
		padding-top: 5px
		overflow: hidden
		p
			&:first-child
				margin-bottom: 5px
				text-transform: none
	+r(860)
		.stat__body
			display: block
		.stat__bl
			display: block
			width: 50%
			margin: 20px auto 0
			padding-bottom: 20px
			border-right: none
			border-bottom: 1px solid #D8D8D8
			&.is-small-width
				width: 50%
	+r(650)
		.stat__bl
			width: 100%
			max-width: 500px
			padding: 0 7%
			+box
			&.is-small-width
				width: 100%

//team
.team
	border-top: 1px solid #8E8E8E
	.team__head
		min-height: 100px
		background: url('../img/icons/team-bg.png') top center no-repeat
		+box-shadow(inset 0 7px 0px 0px rgba(255,255,255,0.2))
	.team__body
		max-width: 940px
		margin: 0 auto
		border-top: none
		border: 1px solid #CCC
	.team__title
		font-size: 20px
		padding: 10px 0
		text-align: center
		text-transform: uppercase
		background: #E9E9E9
		border-top: 1px solid #CCC
		border-bottom: 1px solid #CCC
	.team__in
		background: url(../img/icons/section2.png) repeat
		padding: 18px 10% 45px
		+box
		+clr
		&.another-padding
			padding: 10px 5% 40px
			.team__bl
				width: auto
				margin-right: 0
	.team__bl
		width: 355px
		text-align: center
		+clr
		h4
			margin-bottom: 15px
			text-transform: uppercase
			letter-spacing: 0.05em
			overflow: hidden
		span
			position: relative
			padding: 0 10px
			&:before,
			&:after
				content: ""
				position: absolute
				top: 50%
				width: 100%
				min-width: 1000px
				height: 1px
				background: #D8D8D8
				border-bottom: 1px solid #fff
			&:before
				left: 100%
			&:after
				right: 100%
	.team__person
		height: 158px
		margin: 0 5px 10px
		padding: 5px
		text-align: left
		font-size: 12px
		color: #268a2e
		background: #fff
		overflow: hidden
		border-radius: 5px
		+box-shadow(2px 2px 3px 0px #d2d2d2, -2px 0px 3px 0px #d2d2d2)
		+box
		.team__img
			width: 96px
			height: 96px
			margin-bottom: 5px
		img
			max-width: 96px
			max-height: 96px
	+r(920)
		.team__in
			padding: 18px 5% 45px
		.team__bl
			float: none
			margin: 0 auto 15px
	+r(650)
		.team__bl
			width: 100%

//schedule
.schedule
	border-top: 1px solid #8E8E8E
	.schedule__head
		position: relative
		min-height: 100px
		background: url('../img/icons/schedule-bg.png') top center no-repeat
		z-index: 3
		+box-shadow(inset 0 7px 0px 0px rgba(255,255,255,0.2))
	.schedule__body
		position: relative
		max-width: 940px
		margin: -10px auto 0
		z-index: 2
	.schedule__ttl
		background: #E9E9E9
		padding: 10px 15px 5px
		border: 1px solid #cccccc
		+box
		+clr
		h3
			margin-top: 6px
			text-align: center
			text-transform: uppercase
			font-size: 15px
			letter-spacing: 0.1em
	.btn
		margin-right: 10px
		border: 1px solid #c7c7c7

.calendar
	border: 1px solid #cccccc
	border-radius: 0 0 5px 5px
	background-color: #ffffff
	+box
	.fc-widget-header
		border: none
	.fc-day-header
		text-align: left
		text-transform: capitalize
		font-weight: normal
		font-size: 14px
	.fc-toolbar
		padding: 10px 0 10px
		margin: 0 5px 10px
		border-bottom: 1px solid #cccccc
	.fc-toolbar h2
		text-transform: uppercase
		font-size: 20px
		font-weight: bold
		font-family: "Verdana", Arial, sans-serif
	.fc-view-container
		padding: 0 7px 10px
		border-radius: 0 0 5px 5px
	.fc-prev-button, .fc-next-button
		padding: 0 .25em
		background: #efefef
		border-color: #d9d9d9
	.fc-state-default.fc-corner-left,
	.fc-state-default.fc-corner-right
		border-radius: 0
	.fc-day-number
		padding: 2px 5px
		text-align: left !important
	.fc-title
		display: none
	.fc-event
		background: none
		border: 0
	.event__image
		display: block
		max-width: 50px
		max-height: 50px
		margin-left: 2%
	+r(650)
		.event__image
			max-width: 35px
			max-height: 35px


//photo
.photo
	border-top: 1px solid #8E8E8E
	overflow: hidden
	.photo__head
		position: relative
		min-height: 100px
		background: url('../img/icons/photos-bg.png') top center no-repeat
		z-index: 1
		+box-shadow(inset 0 7px 0px 0px rgba(255,255,255,0.2))
		&:before
			content: ""
			position: absolute
			top: -12px
			left: 12px
			z-index: -1
			+s(photo-before)
		&:after
			content: ""
			position: absolute
			top: -11px
			right: 10px
			z-index: -1
			+s(photo-after)
	.photo__in
		+clr
	.photo__body
		position: relative
		margin-top: -10px
		z-index: 0
	.photo__slider
		padding: 0 25px
		+box
		.js-slick
			max-width: 940px
			margin: 0 auto
			border-left: 6px solid #005D20
			border-right: 6px solid #005D20
			+box
		.slick-slide
			max-height: 425px
			background-repeat: no-repeat
			+cover
	.photo__albums
		padding: 20px 25px
		+box
		.js-slick
			max-width: 940px
			max-height: 180px
			margin: 0 auto
			+box
		.slick-slide
			max-width: 280px

			margin: 0 20px
			background-repeat: no-repeat
			-webkit-background-size: contain
			-o-background-size: contain
			background-size: contain
			+box
		.photo__bank
			display: none
	.photo__footer
		position: relative
		background: url(../img/icons/albums-bg.png) repeat
		&:before,
		&:after
			content: ""
			position: absolute
			top: 0
			width: 100%
			height: 100%
			background: url(../img/icons/albums-bg.png) repeat
		&:before
			left: 100%
		&:after
			right: 100%

//video
.video
	border-top: 1px solid #8E8E8E
	.video__head
		min-height: 100px
		background: url('../img/icons/video-bg.png') top center no-repeat
		+box-shadow(inset 0 7px 0px 0px rgba(255,255,255,0.2))
	.video__body
		max-width: 960px
		margin: 0 auto
		padding: 30px 10px
		+box
	.video__in
		max-width: 845px
		margin: 0 auto
		+clr
	.video__bl
		position: relative
		width: 50%
		max-width: 410px
		height: 310px
		margin-bottom: 15px
		iframe
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
	.js-scroll
		width: 100%
		height: 635px
		overflow: auto
		+clr
	.jspTrack
		width: 4px
		margin: 0 auto
		background: #5e0d14
	.jspVerticalBar
		width: 20px
		background: none
	.jspDrag
		left: -8px
		width: 20px
		height: 20px
		border-radius: 50%
		background: #5e0d14
		&:hover
			background: lighten(#5e0d14, 5%)
	.jspArrow
		&.jspArrowUp
			+s(scroll-arr-up)
		&.jspArrowDown
			+s(scroll-arr-down)
	+r(920)
		.video__bl
			float: none
			width: 100%
			max-width: 500px
			margin: 0 auto 15px
	+r(650)
		.video__in
			padding-right: 20px
			+box

//contacts
.contacts
	border-top: 1px solid #8E8E8E
	.contacts__head
		position: relative
		min-height: 100px
		background: url('../img/icons/contacts-bg.png') top center no-repeat
		+box-shadow(inset 0 7px 0px 0px rgba(255,255,255,0.2))
		z-index: 1
	.contacts__body
		position: relative
		max-width: 956px
		margin: -10px auto 0
		padding: 40px 10px 150px
		font-size: 18px
		background: #fff
		color: #033613
		z-index: 0
		+box
	.contacts__bl
		font-family: "Verdana", Arial, sans-serif
		+clr
		&.divider
			margin: 23px 0 15px
			height: 43px
			background: #E9E9E9
			border-bottom: 1px solid #CCC
		h1
			margin-bottom: 10px
			text-align: center
			font-size: 31px
			font-weight: bold
		a
			color: #033613
			text-decoration: none
			&:hover
				text-decoration: underline
		.txt-size-27
			line-height: 1
	.contacts__txt
		margin-left: 12px
		&:last-child
			margin-left: 0
			padding-left: 2%
			+box
	.contacts__wrap
		padding: 0 17px
		color: #000
		+box
		+clr
	.contacts__sidebar
		width: 22%
		padding-right: 8%
		h3
			text-align: center
			text-transform: uppercase
			font-size: 16px
	.contacts__table
		margin-top: 20px
		width: 100%
		tr
			td
				&:first-child
					padding-right: 5%
		td
			padding: 2px 0
			vertical-align: middle
			font-size: 14px
			img
				display: block
				margin: 0 auto
				max-height: 30px
	.contacts__form
		width: 70%
		font-size: 14px
		.bg-yellow
			margin-bottom: 10px
			padding: 10px 8px
	.form__row
		margin-bottom: 20px
	.btn
		margin-top: 20px
	+r(920)
		.contacts__txt
			float: none
			margin: 0 0 20px
			padding: 0 2%
			text-align: center
			+box
		.contacts__bl
			.txt-size-27
				font-size: 23px
				line-height: 1.4
			.txt-size-23
				font-size: 21px
				margin-bottom: 5px
	+r(650)
		.contacts__sidebar
			float: none
			width: 100%
			padding: 0
		.contacts__form
			float: none
			width: 100%
			margin-top: 20px
		.contacts__table
			max-width: 300px
			margin: 20px auto 0
		.btn
			display: block
			margin: 20px auto 0


//footer
.footer
	min-height: 122px
	margin-top: -130px
	padding-top: 75px
	overflow: hidden
	.l-center
		position: relative
	.footer-bg
		position: absolute
		top: 0
		left: -448px
		width: 1920px
		height: 122px
		background: url('../img/footer-bg.png') top center no-repeat
		z-index: 1
		+cover
	.footer__in
		position: relative
		padding-left: 217px
		z-index: 2
		+clr
	.logo
		margin: -68px 0 0 64px
	.footer__social
		margin: 30px 25px 0 25px
		font-size: 0
		a
			display: inline-block
			margin-left: 5px
			width: 54px
			height: 54px
			&:first-child
				margin-left: 0
		.vk_ico-big
			background: url(../img/icons/vk_ico-big.png) no-repeat
			+cover
		.ok_ico-big
			background: url(../img/icons/ok_ico-big.png) no-repeat
			+cover
		.fb_ico-big
			background: url(../img/icons/fb_ico-big.png) no-repeat
			+cover
	.footer__copyright
		margin-top: 45px
		color: #FFF
		font-family: "Tahoma", Arial, sans-serif
		font-size: 10px
		line-height: 1
	.footer__sign
		margin: 40px 42px 0 0
	.balls
		position: absolute
		top: -55px
		right: 70px
		+rotate(5)
	+r(1000)
		.footer__copyright
			width: 53%
	+r(920)
		.footer__copyright
			margin-top: 40px
		.balls
			display: none
		.footer__sign
			margin-right: 4%
	+r(860)
		.footer__copyright
			width: 85%
			margin: 0
			padding: 10px 10px 10px 25px
			+box
		.footer__social
			float: none
			margin-top: 0
			padding-top: 20px
			a
				width: 40px
				height: 38px
		.footer__sign
			margin-top: 0
	+r(650)
		.logo
			position: absolute
			width: 130px
			height: 130px
			margin-left: 30px
			background: #fff
			border: 6px solid #fff
			border-radius: 50%
			z-index: 3
		.footer__social
			margin: 0
			padding-left: 180px
		.footer__copyright
			width: 85%
			padding: 35px 20px 20px
		.footer__in
			padding-left: 0
		.footer-bg
			display: none
		.footer__in
			min-height: 122px
			background: url(../img/icons/footer-bg.png) repeat
		.footer__sign
			float: left
			margin-top: 30px
			margin-bottom: 10px