doctype3
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="initial-scale=1")
		link(rel="stylesheet", href="css/screen.css" media="screen,print")
		link(rel="stylesheet", href="css/fullcalendar.min.css" media="screen,print")
		<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
		title main
	body
		.out
			.l-wrap.with-bg
				header.header
					.l-center
						.header-bg
						a(href="#").logo
							img(src="img/logo.png" alt="Hunters logo")
						.header__in
							.onleft.name
								img.name__img(src="img/name.png" alt="Hunters name")
								p.name__txt
									| Клуб по Американскому футболу
									span  Hunters
							.onleft.balls
								img(src="img/balls.png" alt="Balls")
							.onright.huntersluga
								.huntersluga__slogan
									| Наберись духа...Встретимся на поле!
								.huntersluga__img
									| huntersluga.ru
							i.mobile__nav.onright
				.navigation
					.navigation__in
						.l-center
							p.onright.navigation__address
								| Ленинградская область, г. Луга, СК «ОХОТНИКИ»
							.navigation__inner
								i.helmet_ico
								.onright.navigation__social
									a.vk_ico(href="#")
									a.ok_ico(href="#")
									a.fb_ico(href="#")
								ul.onright.navigation__menu
									li
										a.menu__link(href="#about") О клубе
									li
										a.menu__link(href="#news") Новости
									li
										a.menu__link(href="#stat") Статистика
									li
										a.menu__link(href="#team") Команда
									li
										a.menu__link(href="#schedule") Расписание
									li
										a.menu__link(href="#photo") Фото
									li
										a.menu__link(href="#video") Видео
									li
										a.menu__link(href="#contacts") Контакты
				.l-center
					.main__slider
						.js-slick
							div.slide(style = "background-image: url('img/photos/slide1.jpg');")
							div.slide(style = "background-image: url('img/photos/slide1.jpg');")
							div.slide(style = "background-image: url('img/photos/slide1.jpg');")
			.l-wrap
				.about(id="about")
					.l-center
						.about__head
							.onleft.title
								i.title_ico
								h2 О клубе
							.sign
							.onright.name
								img.name__img(src="img/name2.png" alt="Hunters name")
								p.name__txt
									| Клуб по Американскому футболу
									span  Hunters
								p.onright.name__huntersluga
									| huntersluga.ru
						.about__body
							.onleft.about__img
								img(src="img/photos/about.jpg" alt="О клубе")
							.about__txt
								p.
									Идея создания клуба по Американскому Футболу появилась в июне 2010 года.
									Мы хотели, чтобы ребята, выбирая этот интересный и динамичный вид спорта, занимались в комфортных условиях, с опытным тренерским составом, в доброжелательной обстановке, без интриг и давления на игроков.
									Мы собрали инициативных увлеченных Американским Футболом людей, которые имеют возможность и хотят развиваться как конкурентно-способная играющая команда. Так, 1 сентября 2010г. был официально зарегистрирован РОО СК Кабаны.
									Этот день считается ДНЕМ РОЖДЕНИЯ КЛУБА.
								p.is-big.
									<i>“Развитие Американского Футбола в России, по нашему мнению, напрямую зависит от того, образуются ли новые команды, которые составят здоровую конкуренцию уже существующим и дадут возможность новым игрокам проявить себя.
									Именно в этом суть популяризации Американского Футбола.”</i>
								p.
									Цель Клуба – создание такой команды, где игроки разных возрастов от 7 до 40 лет смогут выявить и реализовать через игру в Американский Футбол свои положительные качества.
									Постоянные тренировки и взаимодействия с другими игроками дают возможность расти в спортивном и личностном плане.
						.about__bottom
							i.onleft.info_ico
							.onleft.about__bl
								h3 <i>“Про Американский Футбол</i>
								.about__links
									span История АФ
									.links__wrap
										<a class="txt-red" href="#">pdf</a><a href="#">doc</a>
								.about__links
									span Знакомство с АФ
									.links__wrap
										<a class="txt-red" href="#">pdf</a><a href="#">doc</a>
							.onleft.about__bl
								h3 <i>“Команда мастеров</i>
								.about__links
									span Условия вступления
									.links__wrap
										<a class="txt-red" href="#">pdf</a><a href="#">doc</a>
								.about__links
									span Официальные документы
									.links__wrap
										<a class="txt-red" href="#">pdf</a><a href="#">doc</a>
							.onleft.about__bl
								h3 <i>“Детская команда</i>
								.about__links
									span Условия вступления
									.links__wrap
										<a class="txt-red" href="#">pdf</a><a href="#">doc</a>
								.about__links
									span Официальные документы
									.links__wrap
										<a class="txt-red" href="#">pdf</a><a href="#">doc</a>
			.l-wrap
				.news(id="news")
					.l-center
						.news__head
							.news__in
								.onleft.title
									i.title_ico
									h2 Новости
								.sign
								.onright.name
									img.name__img(src="img/name2.png" alt="Hunters name")
									p.name__txt
										| Клуб по Американскому футболу
										span  Hunters
									p.onright.name__huntersluga
										| huntersluga.ru
						.news__body
							.news__column
								h2.news__title Новостные статьи
								.news__bl
									a.news__link(href="#")
										p.news__txt
											| В Луге прошел товарищеский матч ДЛАФ СПБ по флаг-футболу...
										span.news__date
											| 11 сентября 2011 г.
								.news__bl
									a.news__link(href="#")
										p.news__txt
											| В Луге прошел товарищеский матч ДЛАФ СПБ по флаг-футболу...
										span.news__date
											| 11 сентября 2011 г.
								.news__bl
									a.news__link(href="#")
										p.news__txt
											| В Луге прошел товарищеский матч ДЛАФ СПБ по флаг-футболу...
										span.news__date
											| 11 сентября 2011 г.
								.news__bl.is-last
									a.news__link(href="#")
										p
											| <span>Архив</span>новостных статей
							.news__column
								h2.news__title Новости клуба
								.news__bl
									a.news__link(href="#")
										p.news__txt.is-upper
											| Новый сезон
										img.news__img(src="img/photos/news.jpg" alt="news")
										span.news__date
											| 11 сентября 2011 г.
								.news__bl
									a.news__link(href="#")
										p.news__txt.is-upper
											| Новый сезон
										img.news__img(src="img/photos/about.jpg" alt="news")
										span.news__date
											| 11 сентября 2011 г.
								.news__bl
									a.news__link(href="#")
										p.news__txt.is-upper
											| Новый сезон
										img.news__img(src="img/photos/news.jpg" alt="news")
										span.news__date
											| 11 сентября 2011 г.
								.news__bl.is-last
									a.news__link(href="#")
										p
											| <span>Архив</span>новостей клуба
							.news__column
								h2.news__title Новости команды
								.news__bl
									a.news__link(href="#")
										p.news__txt.is-upper.txt-red
											| День рождения
										.news__inside
											img.onleft(src="img/photos/news2.jpg" alt="news")
											p Тренер <span>Iris</span><span>Burton</span>
										span.news__date
											| 11 сентября 2011 г.
								.news__bl
									a.news__link(href="#")
										p.news__txt.is-upper.txt-red
											| День рождения
										.news__inside
											img.onleft(src="img/photos/news3.jpg" alt="news")
											p Cornerback <span>Максим</span><span>Холодницкий</span>
										span.news__date
											| 11 сентября 2011 г.
								.news__bl
									a.news__link(href="#")
										p.news__txt.is-upper.txt-red
											| День рождения
										.news__inside
											img.onleft(src="img/photos/news2.jpg" alt="news")
											p Тренер <span>Iris</span><span>Burton</span>
										span.news__date
											| 11 сентября 2011 г.
								.news__bl.is-last
									a.news__link(href="#")
										p
											| <span>Архив</span> новостей команды
			.l-wrap
				.stat(id="stat")
					.l-center
						.stat__head
							.onleft.title
								i.title_ico
								h2 Статистика
							.sign
							.onright.name
								img.name__img(src="img/name2.png" alt="Hunters name")
								p.name__txt
									| Клуб по Американскому футболу
									span  Hunters
								p.onright.name__huntersluga
									| huntersluga.ru
						.stat__body
							.stat__bl
								img.stat__img(src="img/stat.jpg" alt="stat")
								h2 <b>Предстоящие игры</b>
								p.stat__date
									| 11 сентября, 12:00
								p.stat__place
									| Стадион, г. Луга. угол ул. Школьной и <span>Я. Фабрициуса</span>
								.stat__count
									.stat__name.onleft
										img(src="img/logo_small.png" alt="hunters logo")
										p Лужские охотники
									.stat__score.onleft
									.stat__name.onright
										img(src="img/hogs_logo.png" alt="hogskids logo")
										p HogsKids
							.stat__bl.is-small-width
								h2 Проведенные игры
								p.stat__date
									| 11 сентября, 12:00
								p.stat__place
									| Стадион, г. Луга. угол ул. Школьной и <span>Я. Фабрициуса</span>
								.stat__count
									.stat__name.onleft
										img(src="img/logo_small.png" alt="hunters logo")
										p Лужские охотники
									.stat__wrap.onleft
										.stat__score
											| 24
										.stat__score
											| 24
									.stat__name.onright
										img(src="img/hogs_logo.png" alt="hogskids logo")
										p HogsKids
							.stat__bl
								.stat__in
									h3 Статистика команды
									p Игр сыграно: <b>1</b>
									.stat__line
										i
									p
										| Победы <span class="txt-green"><b>0</b></span> Ничьи	<span class="txt-orange"><b>1</b></span> Поражения <span class="txt-red"><b>0</b></span>
								.stat__in
									h3 Результативность
									.stat__line.is-result
										.stat__shoot
											p.txt-green 24
											p Забито
										i
										.stat__miss
											p.txt-red 24
											p Пропущено
								.stat__in
									h3 Игроки
									.stat__player
										img.onleft(src="img/photos/news3.jpg" alt="player")
										.stat__txt
											p Cornerback
											p Максим
											p Холодницкий
			.l-wrap.with-bg
				.team(id="team")
					.l-center
						.team__head
							.onleft.title
								i.title_ico
								h2 Команда
							.sign
							.onright.name
								img.name__img(src="img/name2.png" alt="Hunters name")
								p.name__txt
									| Клуб по Американскому футболу
									span  Hunters
								p.onright.name__huntersluga
									| huntersluga.ru
						.team__body
							h3.team__title Состав
							.team__in
								.team__bl.onleft
									h4 <span>Защита</span>
									.team__person.onleft
										.team__img
											img(src="img/photos/news3.jpg" alt="СВ")
										p СВ
										p Максим
										p Холодницкий
								.team__bl.onright
									h4 <span>Нападение</span>
									.team__person.onleft
										.team__img
											img(src="img/photos/no-photo.jpg" alt="QB")
										p QB
										p Дмитрий
										p Матвеев
									.team__person.onleft
										.team__img
											img(src="img/photos/attack.jpg" alt="FB")
										p FB
										p Артём
										p Кадыков
							h3.team__title Тренеры, сотрудники
							.team__in.another-padding
								.team__bl.onleft
									.team__person.onleft
										.team__img
											img(src="img/photos/news2.jpg" alt="Тренер")
										p Тренер
										p Iris
										p Burton
									.team__person.onleft
										.team__img
											img(src="img/photos/no-photo.jpg" alt="Тренер")
										p Тренер
										p Денис
										p Бацкалович
									.team__person.onleft
										.team__img
											img(src="img/photos/no-photo.jpg" alt="Тренер")
										p Тренер
										p Артём
										p Михайлов
			.l-wrap
				.schedule(id="schedule")
					.l-center
						.schedule__head
							.onleft.title
								i.title_ico
								h2 Расписание
							.sign
							.onright.name
								img.name__img(src="img/name2.png" alt="Hunters name")
								p.name__txt
									| Клуб по Американскому футболу
									span  Hunters
								p.onright.name__huntersluga
									| huntersluga.ru
						.schedule__body
							.schedule__ttl
								button.onleft.btn(type="button") Поделиться...
								h3 Календарь команды
							.calendar
			.l-wrap
				.photo(id="photo")
					.l-center
						.photo__head
							.photo__in
								.onleft.title
									i.title_ico
									h2 Фото
								.sign
								.onright.name
									img.name__img(src="img/name2.png" alt="Hunters name")
									p.name__txt
										| Клуб по Американскому футболу
										span  Hunters
									p.onright.name__huntersluga
										| huntersluga.ru
						.photo__body
							.photo__slider
								.js-slick
									img(src="img/photos/slide2.jpg" alt = "" data-number="2")
									img(src="img/photos/slide1.jpg" alt = "" data-number="1")
									img(src="img/photos/slide1.jpg" alt = "" data-number="1")
									img(src="img/photos/slide2.jpg" alt = "" data-number="2")
									img(src="img/photos/slide2.jpg" alt =""  data-number="3")
									img(src="img/photos/slide1.jpg" alt =""  data-number="3")
									img(src="img/photos/slide2.jpg" alt =""  data-number="1")
									img(src="img/photos/slide1.jpg" alt =""  data-number="1")
						.photo__footer
							.photo__albums
								.js-slick
									div.slide(style = "background-image: url('img/photos/photo-album1.jpg');" data-tab="1")
									div.slide(style = "background-image: url('img/photos/photo-album2.jpg');" data-tab="2")
									div.slide(style = "background-image: url('img/photos/photo-album3.jpg');" data-tab="3")
									div.slide(style = "background-image: url('img/photos/photo-album1.jpg');" data-tab="2")
									div.slide(style = "background-image: url('img/photos/photo-album2.jpg');" data-tab="2")
									div.slide(style = "background-image: url('img/photos/photo-album3.jpg');" data-tab="1")

			.l-wrap
				.video(id="video")
					.l-center
						.video__head
							.onleft.title
								i.title_ico
								h2 Видео
							.sign
							.onright.name
								img.name__img(src="img/name2.png" alt="Hunters name")
								p.name__txt
									| Клуб по Американскому футболу
									span  Hunters
								p.onright.name__huntersluga
									| huntersluga.ru
						.video__body
							.js-scroll
								.video__in
									.video__bl.onleft
										iframe(src="https://www.youtube.com/embed/difQDd2KQXs" frameborder="0" allowfullscreen)
									.video__bl.onright
										iframe(src="https://www.youtube.com/embed/rTbAQPxQFx0" frameborder="0" allowfullscreen)
									.video__bl.onleft
										iframe(src="https://www.youtube.com/embed/difQDd2KQXs" frameborder="0" allowfullscreen)
									.video__bl.onright
										iframe(src="https://www.youtube.com/embed/rTbAQPxQFx0" frameborder="0" allowfullscreen)
									.video__bl.onleft
										iframe(src="https://www.youtube.com/embed/difQDd2KQXs" frameborder="0" allowfullscreen)
									.video__bl.onright
										iframe(src="https://www.youtube.com/embed/rTbAQPxQFx0" frameborder="0" allowfullscreen)
			.l-wrap.with-bg
				.contacts(id="contacts")
					.l-center
						.contacts__head
							.onleft.title
								i.title_ico
								h2 Контакты
							.sign
							.onright.name
								img.name__img(src="img/name2.png" alt="Hunters name")
								p.name__txt
									| Клуб по Американскому футболу
									span  Hunters
								p.onright.name__huntersluga
									| huntersluga.ru
						.contacts__body
							.contacts__bl
								h1 СК «ОХОТНИКИ»
								.contacts__txt.onleft
									p.txt-size-23
										| Клуб по американскому футболу HUNTERS.
									p
										| Официальный сайт клуба - <a class="is-upper" href="http://xn--e1abgbaidcwja5asg0b.xn--p1ai/"><b>ЛУЖСКИЕОХОТНИКИ.РФ</b></a>
								.contacts__txt.onleft
									p.txt-size-27
										| Тел. +7 (965) 072-0103
									a(href="mailto: e-mail: info@huntersluga.ru")
										| e-mail: info@huntersluga.ru
							.contacts__bl.divider
							.contacts__wrap
								.contacts__sidebar.onleft
									h3 Текущий состав
									.contacts__table
										table
											tr
												td
													img(src="img/photos/no-photo2.jpg" alt="no-photo")
												td
													| Матвеев Дмитрий
											tr
												td
													img(src="img/photos/news3.jpg" alt="news3")
												td
													| Холодницкий Максим
											tr
												td
													img(src="img/photos/attack.jpg" alt="attack")
												td
													| Кадыков Артём
								.contacts__form.onleft
									.bg-yellow
										p
											| После подачи заявки, её будет рассматривать администрация команды <span class="txt-green">Лужские Охотники</span>.
										p
											| Это может занять некоторое время
									form.form
										.form__row
											p Фамилия:
											input.input(type="text")
										.form__row
											p Имя:
											input.input(type="text")
										.form__row
											p Email:
											input.input(type="email")
											p Мы вышлем Вам пароль по указанному контакту
										.form__row
											p Сообщение для администратора сайта
											textarea.textarea
											button.btn.bg-green(type="button")
												| Отправить заявку на вступление
			.l-wrap
				footer.footer
					.l-center
						.footer-bg
						a(href="#").logo
							img(src="img/logo.png" alt="Hunters logo")
						.footer__in
							.footer__social.onleft
								a.vk_ico-big(href="#")
								a.ok_ico-big(href="#")
								a.fb_ico-big(href="#")
							.balls
								img(src="img/balls.png" alt="Balls")
							.footer__copyright.onleft
								p © 2014 -2015 Спортивный клуб «ОХОТНИКИ» - клуб по американскому футболу HUNTERS.
								p Любое копирование материалов возможно только с разрешения администрации сайта.
							.footer__sign.onright
								a(href="#")
									img(src="img/copyright.png" alt="copyright")






		script(src="js/lib/head.js", data-headjs-load="js/init.js")