doctype3
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="initial-scale=1")
		link(rel="stylesheet", href="css/screen.css" media="screen,print")
		<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
		title main
	body
		.l-wrap.with-bg
			header.header
				.l-center
					.header-bg
					a(href="#").logo
						img(src="img/logo.png" alt="Hunters logo")
					.header__in
						.onleft.name
							img.name__img(src="img/name.png" alt="Hunters name")
							p.name__txt
								| Клуб по Американскому футболу
								span  Hunters
						.onleft.balls
							img(src="img/balls.png" alt="Balls")
						.onright.huntersluga
							.huntersluga__slogan
								| Наберись духа...Встретимся на поле!
							.huntersluga__img
								| huntersluga.ru
			.navigation
				.navigation__in
					.l-center
						p.onright.navigation__address
							| Ленинградская область, г. Луга, СК «ОХОТНИКИ»
						.navigation__inner
							i.helmet_ico
							.onright.navigation__social
								a.vk_ico(href="#")
								a.ok_ico(href="#")
								a.fb_ico(href="#")
							ul.onright.navigation__menu
								li
									a.menu__link(href="#") О клубе
								li
									a.menu__link(href="#") Новости
								li
									a.menu__link(href="#") Статистика
								li
									a.menu__link(href="#") Команда
								li
									a.menu__link(href="#") Расписание
								li
									a.menu__link(href="#") Фото
								li
									a.menu__link(href="#") Видео
								li
									a.menu__link(href="#") Контакты
			.l-center
				.main-slider
					.js-slick
						div.slide(style = "background-image: url('img/photos/slide1.jpg');")
						div.slide(style = "background-image: url('img/photos/slide1.jpg');")
						div.slide(style = "background-image: url('img/photos/slide1.jpg');")
		.l-wrap
			.about
				.l-center
					.about__head
						.onleft.title
							i.title_ico
							h2 О клубе
						//- .onleft.sign
						//- 		img(src="img/icons/line.png" alt="Line")
						.onright.name
							img.name__img(src="img/name2.png" alt="Hunters name")
							p.name__txt
								| Клуб по Американскому футболу
								span  Hunters
							p.onright.name__huntersluga
								| huntersluga.ru
					.about__body
						.onleft.about__img
							img(src="img/photos/about.jpg" alt="О клубе")
						.about__txt
							p.
								Идея создания клуба по Американскому Футболу появилась в июне 2010 года.
								Мы хотели, чтобы ребята, выбирая этот интересный и динамичный вид спорта, занимались в комфортных условиях, с опытным тренерским составом, в доброжелательной обстановке, без интриг и давления на игроков.
								Мы собрали инициативных увлеченных Американским Футболом людей, которые имеют возможность и хотят развиваться как конкурентно-способная играющая команда. Так, 1 сентября 2010г. был официально зарегистрирован РОО СК Кабаны.
								Этот день считается ДНЕМ РОЖДЕНИЯ КЛУБА.
							p.is-big.
								<i>“Развитие Американского Футбола в России, по нашему мнению, напрямую зависит от того, образуются ли новые команды, которые составят здоровую конкуренцию уже существующим и дадут возможность новым игрокам проявить себя.
								Именно в этом суть популяризации Американского Футбола.”</i>
							p.
								Цель Клуба – создание такой команды, где игроки разных возрастов от 7 до 40 лет смогут выявить и реализовать через игру в Американский Футбол свои положительные качества.
								Постоянные тренировки и взаимодействия с другими игроками дают возможность расти в спортивном и личностном плане.
					.about__bottom
						i.onleft.info_ico
						.onleft.about__bl
							h3 <i>“Про Американский Футбол</i>
							p
								| История АФ <a class="txt-red" href="#">pdf</a><a href="#">doc</a>
							p
								| Знакомство с АФ <a class="txt-red" href="#">pdf</a><a href="#">doc</a>
						.onleft.about__bl
							h3 <i>“Команда мастеров</i>
							p
								| Условия вступления <a class="txt-red" href="#">pdf</a><a href="#">doc</a>
							p
								| Официальные документы <a class="txt-red" href="#">pdf</a><a href="#">doc</a>
						.onleft.about__bl
							h3 <i>“Детская команда</i>
							p
								| Условия вступления <a class="txt-red" href="#">pdf</a><a href="#">doc</a>
							p
								| Официальные документы <a class="txt-red" href="#">pdf</a><a href="#">doc</a>


		script(src="js/lib/head.js", data-headjs-load="js/init.js")